<br>
<div class="card mx-auto s3">
    <div class="card-header text-center">CHANGE PASSWORD</div>
    <br>
    <form [formGroup]="forForm">
    <div class="col-md-10 mx-3">
<input type="text" name="email" class="form-control" formControlName="email" placeholder="Email ID"><br>
<input type="password" name="password" class="form-control" formControlName="password" placeholder="New password"><br>
<input type="password" name="reenterpassword" class="form-control" formControlName="reenterpassword" placeholder="Reenter new password"><br>
<button type="button" class="btn btn-primary">Change Password </button>

    </div>
    </form>
<br>
</div>
