h2 
{
    color: red;
}

.h4 
{
    background-color: lightgreen;
    color: white;
    text-align: center;

}

.s1 
{
    width: 20rem;
    float: right;
}

table
{
    
width:65%;
float: left;

}

.s4{
    width:60%
}

